*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primary-color:#6256CA;
    --secondary-color:#86D293 ;
    --contrasting-color:#C1E2A4;
    --complementary-color:#FDFAD9;
    --highlight-color:#f0e897;
    --Header-text-size:50px;
    --button-text-size:30px;
    --form-title-size:25px;
    --form-text-size: 20px;
}


body,html{
    width: 100%;
    height: 100%;
}

.whole-container{
    position: relative;
    height: inherit;
    background: var(--secondary-color);
    z-index: 2;
}

.title-container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding:20px;
}

.title{
    color: var(--complementary-color);
    font-size: var(--Header-text-size);
    font-weight:1000;
    font-size: 80px;
}

.main-content-container{
    padding: 20px 30px;
    gap:10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new-button-container{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

#new-button{
    font-size: var(--button-text-size);
    font-weight: 800;
    padding:20px;
    border:var(--primary-colorr) 2px solid;
    border-radius: 10px;
    background: var(--complementary-color);
    color: var(--secondary-color);
    margin-bottom: 20px;
}

#new-button:hover{
    background: var(--highlight-color);
}   

#grid-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap:10px;
}

.grid-card{
    width: 350px;
    height: 450px;
    padding:20px;
    border-radius: 10px;
    background:var(--complementary-color); 
    box-shadow: 8px 5px 1px 8px var(--primary-color);
    display: grid;
    justify-items: start;

}

.grid-text{
    color:var(--secondary-color);
    text-align: center;
    font-weight: 800;
    font-size: 26px;
}


.grid-read{
    border: var(--primary-color) 2px solid;
    color: var(--complementary-color);
    background:var(--secondary-color);
    border-radius: 10px;
    width:95%;
    text-align: center;
    padding:10px;
    height: 50px;
    font-weight: 800;
    font-size: 15px;
}

.grid-delete{
    border: var(--primary-color) 2px solid;
    color: var(--complementary-color);
    background:var(--secondary-color);
    border-radius: 10px;
    width:95%;
    text-align: center;
    padding:10px;
    height: 50px;
    font-weight: 800;
    font-size: 15px;
}

/*HIDDEN FORM SECTION------------------------------*/
#bg-form-container{
    visibility:hidden;
    position:absolute;
    background:#4c4c4d69;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container{
    width: 400px;
    height: 500px;
    padding: 20px;
    background: var(--contrasting-color);
    border: var(--complementary-color) 1px solid;
    border-radius:10px ;
    box-shadow: 5px 7px 1px 5px var(--complementary-color);
    display: grid;
    grid-template-columns: 170px 180px;
    grid-template-rows: repeat(5,50px);
    align-items: center;
    justify-content: center;
    gap:20px;
}


.form-Title{
    grid-column: 1/3;
    justify-self: center;
    font-size: var(--form-title-size);
    color: var(--primary-color);
    font-weight: 700;
}
label{
    color:var(--primary-color);
    font-size:  var(--form-text-size);
    font-weight: 700;
}

.form-buttons{
    background: var(--complementary-color);
    color:var(--secondary-color);
    border:var(--primary-color) 1px solid;
    border-radius: 10px;
    font-size: var(--button-text-size);
    font-weight: 800;
}

.form-buttons:hover{
    background:var(--highlight-color) ;
}


input[type="text"],input[type="number"]{
    border: var(--primary-color) 1px solid;
    border-radius: 10px;
    height: 30px;
    width:95%;
    text-align: center;
    padding:5px;
}

input[type="checkbox"]{
    width:30px;
    height: 30px;
    justify-self: center;
}